typer
requests
uvicorn
fastapi
pandas
pydantic
pydantic-settings
websockets
websocket-client
httpx
loguru
readability-lxml
rich
croniter
socksio
python-socketio
msgpack
python-socks[asyncio]
prompt-toolkit
chardet
openai
litellm
